<!-- wp:template-part {"slug":"nav"} /-->

<!-- wp:group {"tagName": "section"} -->
<section class="wp-block-group">
	<!-- wp:image -->
	<figure class="wp-block-image">
		<img src="https://picsum.photos/1300/300" alt="Picsum random image" />
	</figure>
	<!-- /wp:image -->
	<!-- wp:heading {"level":1} -->
	<h1 class="wp-block-heading">
		Powerful Solutions, Simplified. Elevate Your Workflow Today
	</h1>
	<!-- /wp:heading -->
	<!-- wp:paragraph -->
	<p>
		Streamline your processes, boost productivity, and scale effortlessly with
		our all-in-one platform.
	</p>
	<!-- /wp:paragraph -->
	<!-- wp:button -->
	<div class="wp-block-button">
		<a class="wp-block-button__link wp-element-button"> Request Demo </a>
	</div>
	<!-- /wp:button -->
</section>
<!-- /wp:group -->

<!-- wp:group {"tagName": "section"} -->
<section class="wp-block-group">
	<!-- wp:heading {"level":2} -->
	<h2 class="wp-block-heading">Key Features</h2>
	<!-- /wp:heading -->
	<!-- wp:group -->
	<div class="wp-block-group keyFeatures">
		<!-- wp:template-part {"slug":"keyFeature"} /-->
		<!-- wp:template-part {"slug":"keyFeature"} /-->
	</div>
	<!-- /wp:group -->
</section>
<!-- /wp:group -->

<!-- wp:group {"tagName": "section"} -->
<section class="wp-block-group">
	<!-- wp:heading {"level":2} -->
	<h2 class="wp-block-heading">Why Choose Us?</h2>
	<!-- /wp:heading -->
	<!-- wp:paragraph -->
	<p>
		With cutting-edge technology, seamless integrations, and top-tier support,
		we provide the tools you need to optimize workflows, enhance collaboration,
		and drive growth. Whether you're a startup or an enterprise, our solution
		adapts to your needs—so you can focus on what matters most.
	</p>
	<!-- /wp:paragraph -->
	<!-- wp:image -->
	<figure class="wp-block-image">
		<img src="https://picsum.photos/500/300" alt="Picsum" />
	</figure>
	<!-- /wp:image -->
</section>
<!-- /wp:group -->
